<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Microsoft YaHei:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DIN:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alte DIN 1451 Mittelschrift:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="div1">编号 / 客户</div>
      <div class="div2">所属区域</div>
      <div class="div3">方式 / 年限</div>
      <div class="div4">配置</div>
      <div class="div5">报价人 / 时间</div>
      <div class="div6">价格</div>
      <div class="component-5">
        <div class="component-5-child"></div>
        <div class="parent">
          <div class="div7">50,000</div>
          <div class="div8">5</div>
          <div class="div9">点数</div>
          <div class="div10">服务端</div>
        </div>
        <img class="action-icon" alt="" src="./public/action.svg" />

        <div class="div11">祝延彬</div>
        <img class="frame-icon" alt="" src="./public/frame.svg" />

        <div class="div12">2020-12-15 13:26</div>
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="div13">东区金融</div>
        </div>
        <img class="frame-icon1" alt="" src="./public/frame1.svg" />

        <div class="qt-202012220156">QT-202012220156</div>
        <div class="div14">新东方教育科技集团有限公司</div>
        <div class="div15">
          <div class="child"></div>
          <img class="item" alt="" src="./public/vector-21.svg" />

          <div class="saas">按年</div>
          <div class="div17">3</div>
          <div class="div18">年</div>
        </div>
        <div class="div19">
          <div class="inner"></div>
          <div class="div20">新购</div>
          <img class="union-icon" alt="" src="./public/union.svg" />

          <div class="div21">万相</div>
          <div class="div22">运营商行业标准版</div>
          <img
            class="iconproducttype"
            alt=""
            src="./public/iconproducttype.svg"
          />
        </div>
        <div class="vector-parent">
          <img class="group-inner" alt="" src="./public/vector-211.svg" />

          <div class="div23">￥</div>
          <div class="div24">128,05,000</div>
        </div>
        <div class="div25">
          <div class="div26">￥</div>
          <div class="div27">9,850,000</div>
          <div class="div28">产品价</div>
        </div>
      </div>
      <div class="component-24">
        <div class="component-5-child"></div>
        <div class="parent">
          <div class="div7">50,000</div>
          <div class="div8">5</div>
          <div class="div9">点数</div>
          <div class="div10">服务端</div>
        </div>
        <img class="action-icon" alt="" src="./public/action.svg" />

        <div class="div11">祝延彬</div>
        <img class="frame-icon" alt="" src="./public/frame.svg" />

        <div class="div12">2020-12-15 13:26</div>
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="div13">东区金融</div>
        </div>
        <img class="frame-icon1" alt="" src="./public/frame1.svg" />

        <div class="qt-202012220156">QT-202012220156</div>
        <div class="div14">新东方教育科技集团有限公司</div>
        <div class="div15">
          <div class="child"></div>
          <img class="item" alt="" src="./public/vector-21.svg" />

          <div class="saas">买断</div>
          <div class="div17">1</div>
          <div class="div18">年</div>
        </div>
        <div class="div41">
          <div class="child2"></div>
          <div class="div42">标准版</div>
          <img class="union-icon1" alt="" src="./public/union1.svg" />

          <div class="div43">扩容</div>
          <div class="div21">万相</div>
          <img
            class="iconproducttype"
            alt=""
            src="./public/iconproducttype.svg"
          />
        </div>
        <div class="vector-parent">
          <img class="group-inner" alt="" src="./public/vector-211.svg" />

          <div class="div23">￥</div>
          <div class="div24">128,05,000</div>
        </div>
        <div class="div25">
          <div class="div48">￥</div>
          <div class="div49">￥</div>
          <div class="div50">9,850,000</div>
          <div class="div51">2,955,000</div>
          <div class="div52">产品价</div>
          <div class="div53">维保价</div>
        </div>
      </div>
      <div class="component-27">
        <div class="component-27-child"></div>
        <div class="container">
          <div class="div54">50,000</div>
          <div class="div55">5</div>
          <div class="div56">点数</div>
          <div class="div10">核数</div>
        </div>
        <img class="action-icon2" alt="" src="./public/action1.svg" />

        <div class="div11">祝延彬</div>
        <img class="frame-icon" alt="" src="./public/frame.svg" />

        <div class="div12">2020-12-15 13:26</div>
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="div13">东区金融</div>
        </div>
        <img class="frame-icon1" alt="" src="./public/frame1.svg" />

        <div class="qt-202012220156">QT-202012220156</div>
        <div class="div14">新东方教育科技集团有限公司</div>
        <div class="div15">
          <div class="component-5-child"></div>
          <img class="item" alt="" src="./public/vector-21.svg" />

          <div class="saas">Saas</div>
          <div class="div17">1</div>
          <div class="div18">年</div>
        </div>
        <div class="div41">
          <div class="inner"></div>
          <div class="div42">高级版</div>
          <img class="union-icon" alt="" src="./public/union.svg" />

          <div class="div67">新购</div>
          <div class="div21">蜂巢</div>
          <img
            class="iconproducttype"
            alt=""
            src="./public/iconproducttype1.svg"
          />
        </div>
        <div class="vector-parent">
          <img class="group-inner" alt="" src="./public/vector-211.svg" />

          <div class="div23">￥</div>
          <div class="div24">128,05,000</div>
        </div>
        <div class="div25">
          <div class="div26">￥</div>
          <div class="div27">9,850,000</div>
          <div class="div28">产品价</div>
        </div>
        <div class="component-51">
          <div class="component-5-child"></div>
          <div class="parent">
            <div class="div7">50,000</div>
            <div class="div8">5</div>
            <div class="div9">点数</div>
            <div class="div10">核数</div>
          </div>
          <img class="action-icon" alt="" src="./public/action.svg" />

          <div class="div11">祝延彬</div>
          <img class="frame-icon" alt="" src="./public/frame.svg" />

          <div class="div12">2020-12-15 13:26</div>
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="group-item"></div>
            <div class="div13">东区金融</div>
          </div>
          <div class="qt-202012220156">QT-202012220156</div>
          <div class="div14">新东方教育科技集团有限公司</div>
          <div class="div15">
            <div class="child"></div>
            <img class="item" alt="" src="./public/vector-21.svg" />

            <div class="saas">Saas</div>
            <div class="div17">3</div>
            <div class="div18">年</div>
          </div>
          <div class="div19">
            <div class="inner"></div>
            <div class="div20">新购</div>
            <img class="union-icon" alt="" src="./public/union.svg" />

            <div class="div21">蜂巢</div>
            <div class="div22">高级版</div>
            <img
              class="iconproducttype"
              alt=""
              src="./public/iconproducttype2.svg"
            />
          </div>
          <div class="vector-parent">
            <img class="group-inner" alt="" src="./public/vector-211.svg" />

            <div class="div23">￥</div>
            <div class="div24">128,05,000</div>
          </div>
          <div class="div25">
            <div class="div26">￥</div>
            <div class="div27">9,850,000</div>
            <div class="div28">产品价</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
    function setHtmlSize(){
        var pageWidth = window.innerWidth;
        if(typeof pageWidth != "number"){
            if(document.compatMode == "number"){
                pageWidth = document.documentElement.clientWidth;
            }else{
                pageWidth = document.body.clientWidth;
            }
        }
        var fontSize = (window.innerWidth * 100) / 1024 ;
        if(fontSize<100){
            fontSize = 100;
        }
        //根据屏幕大小确定根节点字号
        document.getElementsByTagName('html')[0].style.fontSize = fontSize + 'px';
    }
    function resize(){
        setHtmlSize();
    }
    if (window.attachEvent) {
        window.attachEvent("resize", resize);
    } else if (window.addEventListener) {
        window.addEventListener("resize", resize, false);
    }
    setHtmlSize();
</script>
