<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>黄爱翔</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">

</div>

</body>
<script>

    let introduceJSON = {
        info:[
            [
                {
                    key: '',
                    value: '黄 爱 翔'
                },
                {
                    key: '求职岗位',
                    value: 'web前端工程师'
                }
            ],
            [
                {
                    key: '年  龄',
                    value: '24岁'
                },
                {
                    key: '籍  贯',
                    value: '四川省成都市'
                },
                {
                    key: '邮  箱',
                    value: '1034704290@qq.com'
                },
                {
                    key: '学历',
                    value: '本科'
                },
                {
                    key: '性 别',
                    value: '男'
                },
                {
                    key: '电  话',
                    value: '18990324572'
                },
                {
                    key: '毕业院校',
                    value: '四川大学锦江学院'
                },
                {
                    key: '专  业',
                    value: '计算机科学与技术'
                }
            ]
        ],
        exp:[
            [
                [
                     '2020-12 ~ 2022-04',
                     '杭州策软科技有限公司(浙江大华)',
                     'web前端工程师',
                ],
                [
                    '负责基线产品的定制需求的开发以及后续bug的维护，完成产品从构思到实际落地的整个流程，及时响应并 处理用户反馈的问题',
                    '与后端共同制定协议，研究产品的解决方案，协同开发',
                    '完成前端文档撰写，以及代码相关的评审工作',
                ]
             ],
            [
                [
                    '2022-04 ~ 至今',
                    '创业慧康科技股份有限公司',
                    'web前端工程师',
                ],
               [
                    '负责项目需求的开发，负责项目的bug维护工作迭代工作，负责与产品经理沟通制定产品解决方案',
                    '负责与后端协同开发，完成功能对接功能自测',
                    '完成前端评审工作',
                    '完成与其他产品对接和嵌入工作',
                ]
        ]
        ],
        projectEXP: [
            [
                [
                    '2020-12 ~ 2022-04',
                    '大数据平台',
                    '前端开发',
                ],
                [
                    '页面上灵活使用Vue，Vuex，Vue-Router，echarts，ZTree对页面进行开发，在保证页面上功能 完整地同时注重代码逻辑完整与优化。',
                    '使用axios、Ajax与后端数据通信',
                    '使用iview、echarts、jQuery还原ui设计，交互逻辑',
                    '使用qtweb 实现与客户端之间的交互',
                ],
                [
                    '产品各个模块的开发联调',
                    '后续代码评审，以及前端技术文档撰写',
                    '日常的维护，与用户沟通后对产品功能进行拓展',
                ]
            ],
            [
                [
                    '2022-04 ~ 2023-07',
                    '科研大数据平台',
                    '前端开发',
                ],
                [
                    '使用Vue全家桶实现页面开发，升级webpack3 -> 4提升打包的构建速度',
                    '以npm包的形式将科研平台作为npm包供其他平台进行嵌入',
                    'iframe嵌入模式以及父子页面通信',
                ],
                [
                   '参与整个项目功能迭代，完成项目落地以及后续项目支持工作',
                   '与后端沟通提出解决方案',
                   '项目的打包部署以及发布',
                ]
            ]
        ],
        skill:[
            '熟练使用Vue2，Vue3全家桶，pinia等库对项目进行开发',
            '熟练使用HTML、Css、Js、Ts，熟悉HTML5以及css3的新特性，以及Es6及其后续版本JS语法',
            '熟练掌握前端布局模式，掌握flex布局以及两列布局等前端布局技巧',
            '熟练掌握前端模块化，组件化的开发，对前后端分离有一定了解',
            '熟练使用代码管理工具svn，git',
            '熟悉前端构建工具webpack，vite, rollup, esbuild以及对打包工程的优化，以及对打包后的文件进行细腻 度处理。',
            '熟练使用jQuery，iview，Echarts，Bootstrap，ZTree，Element等前端框架和工具库',
            '了解客户端嵌入开发模式(QtWebkit )，熟悉与c++客户端的交互过程和调试模式',
            '了解微前端qiankun ，micro-app的生态，能够结合文档快速上手微前端的开发',
        ],
        self:[
            '工作积极认真，细心负责，善于在工作中提出问题、发现问题、解决问题，有较强的分析能力; ' ,
            '热爱前端技术，对自身有严格的要求，' ,
            '勤奋好学，踏实肯干，动手能力强，认真负责，有很强的社会责任感;' ,
            '坚毅不拔，吃苦耐劳，喜欢迎接新挑战，有较强的抗压能力。' ,
            '有良好的代码注释习惯，严格遵守开发规范'
        ]
    }
    let layout ={
        info:[['[1|1]'],['[1|1]','[1|1]','[1|1]','[1|1]']],
        exp:[['[1|1|1]','-----','-----'],['[1|1|1]','-----','-----']],
        projectEXP:[['[1|1|1]','----','----'],['[1|1|1]','----','----']],
        skill:['---------'],
        self:['-----']

    }
    function generPaper(layoutStr, json){
        let result = {

        }
        if()
        result.self = json.self.map((el,index)=>({
            value:el,
            symbol:layoutStr.self[index]
        }))
    }
    new Vue({
        el:"#app",
        data(){
            return {
                data:generPaper(layout,introduceJSON)
            }
        }
    })

</script>
</html>
